@font-face {
    font-family: 'Post No Bills Extrabold';
    src: url('./post-no-bills/postnobillscolombo-extrabold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Post No Bills';
    src: url('./post-no-bills/postnobillscolombo-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Port Ligat Slab';
    src: url('./port-ligat-slab/PortLligatSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}